# Dependências de Pacotes
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Banco de Dados Local SQLite
*.sqlite
*.sqlite3
database.sqlite

# Arquivos do Sistema Operacional e Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
